<div class="content-container">
  <div>
    <h1>about</h1>
    <div>
      <p>Hello, I'm Carl Zhang</p>
      <p>
        I'm currently a 4th year computer engineering student at the University
        of Waterloo
      </p>
      <p>
        My interest in computers started with vieo games like SUper Mario Bros
        and Pokemon. Since then, I've played a variety of games such as Realm of
        th Mad God, League of legends, Genshin IMpact
      </p>
      <p>Today, I am find interest in web dev, data, autoamtion</p>
    </div>
    <app-back-button></app-back-button>
  </div>
</div>
